In [27]:
import pandas as pd

In [28]:
character_data = pd.read_csv("over_one_mil_chars.csv")

In [29]:
character_data.head()

,Unnamed: 0,char_id,name,base_hp,stats_1,stats_2,stats_3,stats_4,stats_5,stats_6,...,class_starting_level,subclass_starting,class_other,subclass_other,total_level,feats,inventory,date_modified,notes_len,gold
0,0,1,Molster,8,11,22,11,17,20,12,...,4,NaN,NaN,NaN,4,NaN,Adamantine Chain Shirt/Cloak of Protection/Gog...,2022-09-12T19:13:03.29Z,17,305.00
1,1,3,Prailak,103,12,17,18,14,16,16,...,20,The Great Old One,NaN,NaN,20,"Spell Sniper (Bard, Sorcerer, Warlock)/Inferna...","Bag of Holding/Iron Flask/Studded Leather, +3/...",2021-12-07T21:25:36.9Z,60,0.00
2,2,8,Aurilanax,76,18,10,16,13,13,16,...,7,Oath of the Crown,NaN,NaN,7,NaN,Shield,2021-01-21T16:50:35Z,0,0.00
3,3,10,Gamndell Banglebon,127,10,14,16,16,15,18,...,2,NaN,Bard/Cleric/Wizard,School of Illusion,16,NaN,Give/Studded Leather/Dagger/Light Hammer/Ink (...,2020-08-06T16:05:07Z,65,4951.06
4,4,19,Bellek Bouncer,52,10,10,15,12,14,10,...,6,Life Domain,NaN,NaN,6,NaN,Shield/Plate/Mace/Potion of Healing,2020-05-15T04:47:59Z,0,0.00

In [30]:
character_data.drop(columns="Unnamed: 0", inplace=True)

In [31]:
character_data[character_data.duplicated()].head()

,char_id,name,base_hp,stats_1,stats_2,stats_3,stats_4,stats_5,stats_6,background,...,class_starting_level,subclass_starting,class_other,subclass_other,total_level,feats,inventory,date_modified,notes_len,gold
293785,293809,Laetorius Perennius,10,12,15,11,9,9,15,Soldier,...,1,NaN,NaN,NaN,1,Grappler,Chain Mail/Dagger/Handaxe/Handaxe/Shortsword,2018-06-29T15:37:47Z,290,0.0
293786,293817,Zecil,10,0,0,0,0,0,0,NaN,...,1,NaN,NaN,NaN,1,NaN,NaN,2018-06-29T15:37:47Z,0,0.0
293787,293820,Tjdj,8,12,15,13,8,14,10,Soldier,...,1,NaN,NaN,NaN,1,Grappler,Leather/Shortsword/Shortsword/Longbow/Arrows/E...,2018-06-29T15:37:47Z,0,0.0
293788,293821,Lexos Diharis,69,12,12,15,13,17,12,Acolyte,...,11,Life Domain,NaN,NaN,11,NaN,"Shield, +1/Chain Mail/Quarterstaff/Crossbow, l...",2018-06-29T15:37:47Z,0,0.0
293789,293822,Syllamir,8,11,17,11,11,12,16,Urban Bounty Hunter,...,7,Mastermind,NaN,NaN,7,Tough,Leather/Dagger/Dagger/Shortsword/Shortsword/Ba...,2018-07-29T18:54:03.273Z,3013,20.0

In [32]:
character_data.drop_duplicates(inplace=True)

In [33]:
character_data.count()

char_id                 511318
name                    509454
base_hp                 511318
stats_1                 511318
stats_2                 511318
stats_3                 511318
stats_4                 511318
stats_5                 511318
stats_6                 511318
background              378601
race                    511318
class_starting          511318
class_starting_level    511318
subclass_starting       254814
class_other              33247
subclass_other           20607
total_level             511318
feats                    90761
inventory               345026
date_modified           511318
notes_len               511318
gold                    511318
dtype: int64

In [34]:
character_data.to_csv("over_one_mil_chars_shrunk.csv")

In [35]:
character_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 511318 entries, 0 to 1185824
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   char_id               511318 non-null  int64
 1   name                  509454 non-null  object
 2   base_hp               511318 non-null  int64
 3   stats_1               511318 non-null  int64
 4   stats_2               511318 non-null  int64
 5   stats_3               511318 non-null  int64
 6   stats_4               511318 non-null  int64
 7   stats_5               511318 non-null  int64
 8   stats_6               511318 non-null  int64
 9   background            378601 non-null  object
 10  race                  511318 non-null  object
 11  class_starting        511318 non-null  object
 12  class_starting_level  511318 non-null  int64
 13  subclass_starting     254814 non-null  object
 14  class_other           33247 non-null   object
 15  subclass_other        20607 non-null   object
 16  total_level           511318 non-null  int64
 17  feats                 90761 non-null   object
 18  inventory             345026 non-null  object
 19  date_modified         511318 non-null  object
 20  notes_len             511318 non-null  int64
 21  gold                  511318 non-null  float64
dtypes: float64(1), int64(11), object(10)
memory usage: 89.7+ MB